<article class="marg-bottom mt-3">
  <h1><%= t('.details_of') %> <%= Post.model_name.human %></h1>
  <h3><%= t('.published_by') %> <%= @post.user.name %></h3>
  <section class="post-container" aria-description="post">
    <%= render @post, is_truncated: false %>
    <% if user_signed_in? && current_user.posts.include?(@post) %>
      <div class="post-actions">
        <%= link_to t('.edit_link'), edit_post_path(@post), class: "btn btn-secondary mt-3" %>
        <%= button_to t('.destroy_btn'), post_path(@post), method: :delete, data: {turbo_confirm: t('.sure')}, class: "btn btn-danger mt-3" %>
      </div>
    <% end %>
  </section>
  <section class="comment-container card mt-3 mb-3">
    <h4><% total_posts = @post.comments.count %></h4>
    <p>
      <%= total_posts %> <%= Comment.model_name.human(count: total_posts) %>
    </p>

    <% @post.comments.each do |comment| %>
      <div class="card-body" id="<%= dom_id(comment) %>">
        <h5 class="card-title"><%= comment.user.name %></h5>
        <p class="card-text"><%= comment.message %></p>
      </div>
    <% end %>
  </section>
  <section class="form-comment-container">
    <%= form_with model: [@post, @comment], method: :post do |f|%>
      <p class="input-group mb-3">
        <%= f.text_area :message, placeholder: (Comment.human_attribute_name :message), class: "form-control" %>
        <%= f.submit t('.comment_btn'), class: "btn btn-primary" %>
      </p>
    <% end %>
  </section>
</article>